@import "tailwindcss";
@tailwind utilities;

@layer base {
  :root {
    /* --- Base (Light Mode) --- */
    --background: oklch(98.511% 0.00011 271.152);
    --foreground: oklch(21% 0.034 264.665);

    /* Card / Surfaces (#ffffff) */
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);

    /* Primary Emerald*/
    --primary: oklch(0.696 0.17 149.2);
    --primary-foreground: oklch(1 0 0);

    /* Secondary Blue */
    --secondary: oklch(0.627 0.198 261.37);
    --secondary-foreground: oklch(1 0 0);

    /* Muted (#ececf0) */
    --muted: oklch(0.93 0.005 264);
    --muted-foreground: oklch(0.556 0 0); /* ~Gray 500 */

    /* Accent (Hover states #f9fafb) */
    --accent: oklch(0.985 0 0);
    --accent-foreground: oklch(0.145 0 0);

    /* Destructive (#d4183d) */
    --destructive: oklch(0.532 0.197 22.84);
    --destructive-foreground: oklch(1 0 0);

    /* Nav links */
    --nav-inactive: oklch(44.611% 0.02636 256.837);
    --nav-active-text: oklch(59.598% 0.12741 163.254);
    --nav-active-bg: oklch(97.932% 0.02065 166.41);
    --nav-hover: oklch(96.7% 0.003 264.542);

    /* Borders (rgba(0,0,0,0.1) -> ~Gray 200) */
    --border: oklch(0.922 0 0);
    --input: oklch(0.96 0 0);
    --ring: oklch(0.696 0.17 149.2);

    /* FF */
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  }

  .dark {
    /* --- Base (Dark Mode) --- */
    --background: oklch(21% 0.034 264.665); /* ~gray-950 */
    --foreground: oklch(0.985 0 0); /* ~white */

    /* Card / Surfaces */
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);

    /* Primary (Emerald) */
    --primary: #10b981;
    --primary-foreground: #022c22; /* emerald-950 for contrast */

    /* Secondary (Blue) */
    --secondary: #3b82f6;
    --secondary-foreground: #172554; /* blue-950 for contrast */

    /* Muted */
    --muted: oklch(26.862% 0.00003 271.152);
    --muted-foreground: oklch(0.708 0 0);

    /* Accent (Hover states) */
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);

    /* Destructive/Error */
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(17.06% 0.0087 4.407);

    /* Nav links */
    --nav-inactive: oklch(71.366% 0.01926 261.373);
    --nav-active-text: oklch(77.296% 0.15348 163.254);
    --nav-active-bg: oklch(26.21% 0.04875 172.586);
    --nav-hover: oklch(26.862% 0.00003 271.152);

    /* Borders & Inputs */
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: #059669;
  }
}

@theme {
  --color-nav-hover: var(--nav-hover);
  --color-nav-inactive: var(--nav-inactive);
  --color-nav-active-text: var(--nav-active-text);
  --color-nav-active-bg: var(--nav-active-bg);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* FF */
  --font-sans: var(--font-sans);
}
