@import "tailwindcss";

@layer base {
  :root {
    /* --- Base (Light Mode) --- */
    --background: oklch(0.985 0 0);
    --foreground: oklch(0.145 0 0);

    /* Card / Surfaces (#ffffff) */
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);

    /* Popovers */
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    /* Primary Emerald*/
    --primary: oklch(0.696 0.17 149.2);
    --primary-foreground: oklch(1 0 0);

    /* Secondary Blue */
    --secondary: oklch(0.627 0.198 261.37);
    --secondary-foreground: oklch(1 0 0);

    /* Muted (#ececf0) */
    --muted: oklch(0.93 0.005 264);
    --muted-foreground: oklch(0.556 0 0); /* ~Gray 500 */

    /* Accent (Hover states #f9fafb) */
    --accent: oklch(0.985 0 0);
    --accent-foreground: oklch(0.145 0 0);

    /* Destructive (#d4183d) */
    --destructive: oklch(0.532 0.197 22.84);
    --destructive-foreground: oklch(1 0 0);

    /* Borders (rgba(0,0,0,0.1) -> ~Gray 200) */
    --border: oklch(0.922 0 0);
    --input: oklch(0.96 0 0);
    --ring: oklch(0.696 0.17 149.2);
  }

  .dark {
    /* --- Base (Dark Mode) --- */
    --background: oklch(0.145 0 0); /* ~gray-950 */
    --foreground: oklch(0.985 0 0); /* ~white */

    /* Card / Surfaces */
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);

    /* Popovers */
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);

    /* Primary (Emerald) */
    --primary: #10b981;
    --primary-foreground: #022c22; /* emerald-950 for contrast */

    /* Secondary (Blue) */
    --secondary: #3b82f6;
    --secondary-foreground: #172554; /* blue-950 for contrast */

    /* Muted */
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    /* Accent (Hover states) */
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);

    /* Destructive/Error */
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);

    /* Borders & Inputs */
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: #059669;
  }
}
